In [ ]:
import pandas as pd
import numpy as np

## to create a dataframe using python dictionaries

In [ ]:
actors = {
        'Name':['Samuel L. Jackson','Will Smith','Denzel Washington','Morgan Freeman'],
        'Age':[71,51,65,83],
    }
actors_df = pd.DataFrame(actors,index=['a','b','c','d'])
actors_df
# type(actors_df)

## to create a series using python lists

In [ ]:
actors_series = pd.Series(['Samuel L. Jackson','Will Smith','Denzel Washington','Morgan Freeman'])
actors_series
type(actors_series)

## pd.read_csv() to read the csv file, We also have pd.read_sql(), pd.read_excel(), pd.read_html(), pd.read_json() and much more

In [ ]:
df = pd.read_csv("developer_survey_2019/survey_results_public.csv")
schema_df = pd.read_csv("developer_survey_2019/survey_results_schema.csv")

In [ ]:
# df
# schema_df

## Total Number of Rows and Columns Respectively

In [ ]:
print("(Rows, Columns) =",df.shape)
print("(Rows, Columns) =",schema_df.shape)

## Get more information about Dataset

In [ ]:
print(df.info())
# In pandas, Object represets string most of the time

## To show all the columns of a dataset at once

In [ ]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)
# df

## Number of columns and its names

In [ ]:
cols = df.columns
n_cols = len(df.columns)
print("Total Columns: ",n_cols)
print("Column Names: ",cols)

## Show the top 5 rows of dataset

In [ ]:
df.head()  

# You can also pass some number inside head to show given number of rows
# df.head(10)

## Show the bottom 5 rows of dataset

In [ ]:
df.tail()

# You can also pass some number inside tail to show given number of rows
# df.tail(10)

## Select a Specific Column by three ways

In [ ]:
respondent = df.Respondent
respondent_ = df['Respondent']
respondent__ = df.loc[:,'Respondent']
print("First Result: \n",respondent)
print("\nSecond Result: \n",respondent_)
print("\nThird Result: \n",respondent__)

## Select Multiple Columns or Specific Columns

In [ ]:
# df[['Respondent','EdLevel','Student','Country',...................]]
df[['Respondent','EdLevel','Student','Country']]

## loc vs iloc(it only uses integers)

In [ ]:
# iloc
df.iloc[0]  # First Row
df.iloc[[0,1,2]] # First, Second and Third rows of df
df.iloc[[0,1,2],0] # First, Second and Third rows with First column of df
df.iloc[[0,1,2],[0,1,2,84]] # First, Second and Third rows with first,second,third and 85th column of df
df.iloc[:3,:19] # row 1st to row 3rd with all columns till 19th column including 19th column of df
df.iloc[[0,1,2],:19] # First, Second and Third rows with all columns till 19th column including 19th column of df

In [ ]:
# loc
# Note: slicing in loc is always inclusive, it does not follow pyhton slicing rule.
df.loc[0]  # First Row (We are putting 0 because we have an index with 0)
df.loc[[0,1,2]] # First, Second and Third rows of df
df.loc[[0,1,2],'Respondent'] # First, Second and Third rows with First column of df
df.loc[[0,1,2],['Respondent','MainBranch','Hobbyist','SurveyEase']] # First, Second and Third rows with first,second,third and 85th column of df
df.loc[:2,'Respondent'] # row 1st to row 3rd with Respondent column of df
df.loc[[0,1,2],['Respondent','MainBranch','Hobbyist', 'SurveyEase']] # First, Second and Third rows with 'Respondent','MainBranch','Hobbyist','SurveyEase' columns of df
df.loc[:2,'MainBranch':'Student'] # First, Second and Third rows with columns from MainBranch to Student of df

## Indexes

In [ ]:
df.index

# to change the index to another column, we can use set_index() method
df.set_index('Respondent') 
# set_index() will return the df with new index, it will not change the df until we pass the arguement inplace=True.
df.set_index('Respondent',inplace=True)

In [ ]:
# to reset the index we can use reset_index() with or without reset_index(inplace=True)
df.reset_index()
# or
df.reset_index(inplace=True)

In [ ]:
# to sort index we can use sort_index() with or without inplace=True
new_df = df.loc[:10,['Respondent','MainBranch','Hobbyist', 'SurveyEase']]
new_df_ = new_df.set_index('MainBranch')
new_df_sorted = new_df_.sort_index()
new_df_sorted # alphabetically sorted df

## Filtering the Data using conditionals and some inbuilt functions

In [ ]:
filter_1 = (df['Hobbyist'] == 'No')

In [ ]:
df[filter_1]

In [ ]:
filter_2 = (df['Country']=='India') & (df['Student']=='No')

In [ ]:
df[filter_2]

In [ ]:
filter_3 = (df['Country']=='India') | (df['Country']=='Canada')

In [ ]:
df[filter_3]

In [ ]:
df[~filter_3]   # < ~ > symbol is used to reverse the out put, it is very similar to python not keyword

In [ ]:
high_salary_filter = (df['ConvertedComp'] > 100000) & (df['Country']=='India')

In [ ]:
df.loc[high_salary_filter,['Respondent','OpenSourcer','Student','EdLevel','DevType','YearsCodePro']].set_index('Respondent')

In [ ]:
# isin() function to filter using lists
high_salary_df = df.loc[high_salary_filter,['Respondent','Country','OpenSourcer','Student','EdLevel','DevType','YearsCodePro']].set_index('Respondent')
high_salary_with_specific_country_filter = high_salary_df['Country'].isin(['India','United States','Canada'])

In [ ]:
high_salary_df[high_salary_with_specific_country_filter]

In [ ]:
# Now we are going to find out whome of them actually worked with Python

python_filter = df['LanguageWorkedWith'].str.contains('Python',na=False) # we have put na=False to avoind na values

In [ ]:
df.loc[python_filter,['Respondent','Country','Student','LanguageWorkedWith']]

## Modifying Rows and Columns in Dataframe

In [ ]:
# to make all the column names to lower case
df.columns = [x.lower() for x in df.columns]

In [ ]:
# to make all the column names to upper case
df.columns = [x.upper() for x in df.columns]

In [ ]:
# to rename the column names with df.rename() method
df.rename(columns={'Respondent':'Res'}) # to make this change permanent we can pass inplace=True in rename method

In [ ]:
# to replace some values of a row or column we can use df.at() method, we can also use .loc but at if prefered method
df.loc[0,'Respondent'] = 1
df.at[0,'Respondent'] = 1

## apply, map, applymap, replace methods

In [ ]:
# .apply() works on both df and series,this function is used to -
# apply a function into each series of a dataframe and 
# apply a function into each element of a series 

def db_names(row):
    db_list = str(row).split(';')
    return db_list

In [ ]:
# convert the string of databses seperated with ; ,to a list
df['DatabaseWorkedWith'] = df['DatabaseWorkedWith'].apply(db_names)
df['DatabaseWorkedWith']

In [ ]:
# above thing using lambda function
df['DatabaseWorkedWith'] = df['DatabaseWorkedWith'].apply(lambda s: str(s).split(';'))
df['DatabaseWorkedWith']

In [ ]:
# applymap() function is used to apply a function to every element of a df, it only works on df
df.applymap(lambda x: len(str(x)))

In [ ]:
# map() method is used to map new values to old values
# map() and replace() are very similar method except that map() sets the NaN where mapping is not provided
df['Hobbyist'].map({'Yes':'No'})

In [ ]:
# it just changes the values which we told it to change.
df['Hobbyist'].replace({'Yes':'No'})

## Add/Remove columns and rows

In [ ]:
# to add columns and assign it to a new column
df['HobbyistRespondent'] = df['Hobbyist'] + ' ' + df['Respondent'].apply(str)

In [ ]:
# to remove a column we can use the drop method on df
df.drop(columns=['HobbyistRespondent'],inplace=True)

In [ ]:
# to expand the value of a column using str.split(expand=True)
df['WebFrameWorkedWith'].str.split(';',expand=True)

In [ ]:
# to add a new row in the df
df.append({'Country':'Los Santos'},ignore_index=True)

In [ ]:
# to remove a row in the df
df.drop(index=0,inplace=True)

## combine two dataframes using append function

In [ ]:
d1 = {
        'Name':['Samuel L. Jackson','Will Smith'],
        'Age':[71,51],
    }

d2 = {
        'Name':['Denzel Washington','Morgan Freeman'],
        'Age':[65,83],
    }

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

In [ ]:
df1.append(df2,ignore_index=True) #ignore_index=True to avoid the repetition of index

## Sorting

In [ ]:
# sort by a single column
df.sort_values(by='Country',ascending=False)

In [ ]:
# sort by multiple columns
df.sort_values(by=['Hobbyist','Country','Respondent'],ascending=False)

In [ ]:
# sort by one column to be ascending but another to be descending columns
df.sort_values(by=['Hobbyist','Country','Respondent'],ascending=[False,False,True])

In [ ]:
# to sort the index
df.sort_index(ascending=False)

In [ ]:
# we can also sort the series using sort_values() method
df['Hobbyist'].sort_values(ascending=False)

In [ ]:
# sort values using multiple columns
df.sort_values(by=['Country','ConvertedComp'],ascending=[True,False],inplace=True)

In [ ]:
# getting the max values of salaries based on the country as index
df[['Country','ConvertedComp']].groupby(['Country']).max()

In [ ]:
# nlargest method to get top n largest values of a dataframe or seies
df[['Country','ConvertedComp']].nlargest(10,columns=['ConvertedComp'])

In [ ]:
# nsmallest method to get top n smallest values of a dataframe or seies
df[['Country','ConvertedComp']].nsmallest(10,columns=['ConvertedComp'])

In [ ]:
# filter the result who have salary greater than 1
df[['Country','ConvertedComp']].loc[df['ConvertedComp']>1].nsmallest(10,columns=['ConvertedComp'])

## Grouping and Aggregating

### Aggregate functions

In [ ]:
# median() method
df['ConvertedComp'].median()

In [ ]:
# mean() method
df['ConvertedComp'].mean()

In [ ]:
# min() method
df['ConvertedComp'].min()

In [ ]:
# median() method
df['ConvertedComp'].max()

In [ ]:
# count() method
df['Hobbyist'].count()

In [ ]:
# value_counts() method
df['SocialMedia'].value_counts()
# df['SocialMedia'].value_counts(normalize=True) # we can pass normalize=True to get % values
# df['DatabaseWorkedWith'].value_counts()

# difference between counts and value_counts is that counts just count the rows where any value exists, 
# but value_counts will counts the count of individual values of that column

In [ ]:
# to get the more statistic values of our dataset we can use .describe()
df.describe()

### Grouping

In [ ]:
# groupby() is used to group the df based on provided column
# we can also create a filter , it will also group the results based on provided country name
# india_filter = (df['Country'] == 'India')
# df[india_filter]
country_group = df.groupby(['Country'])

In [ ]:
country_group.get_group('India')

In [ ]:
# get_group() function is used for getting the values based on group indexes
country_group.get_group('India')['SocialMedia'].value_counts()

In [ ]:
country_group['SocialMedia'].value_counts().loc['India']

In [ ]:
# to get the more statistic values of our groups we can use .describe()
country_group['ConvertedComp'].describe().loc['India']

In [ ]:
# we can also use median or any aggregate function on groupby df.
country_group['ConvertedComp'].median().loc['India']

In [ ]:
# to apply mulitple aggregate function to a groupby df we can use agg() method
country_group['ConvertedComp'].agg(['mean','median','min','max','std'])

In [ ]:
# to get more specific results we can use .loc also
country_group['ConvertedComp'].agg(['mean','median','min','max','std']).loc['India']

## What is the % of people in each country who uses Python ?

In [ ]:
# people uses python
respondent_uses_python = country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
respondent_uses_python['United States']

In [ ]:
# resondents in a country
respondetns_in_country = df['Country'].value_counts()
respondetns_in_country

In [ ]:
# now we will concatenate the total respondents df and python knows respondetn df
python_country_df = pd.concat([respondetns_in_country,respondent_uses_python],axis='columns')

In [ ]:
# then we will rename the columns to our desired values
python_country_df.rename(columns={'Country':'Respondent','LanguageWorkedWith':'RespondentKnowPython'},inplace=True)

In [ ]:
# then calculate the % of people who knows python by just dividing the values
python_country_df['PercentageKnowPython'] = python_country_df['RespondentKnowPython']/python_country_df['Respondent']*100

In [ ]:
# Now we will sort the values in descending order
python_country_df.sort_values(by='PercentageKnowPython',ascending=False,inplace=True)

In [ ]:
# drop the unneccesary columns
python_country_df.drop(columns=['Respondent','RespondentKnowPython'],inplace=True)

In [ ]:
# here is our final result
python_country_df

## Cleaning Data and Handling Missing Values

In [ ]:

df_with_na = df.loc[:,['Respondent','Hobbyist','Student','ConvertedComp']]

In [ ]:
df_with_na

In [ ]:
# dropna() to remove missing values
df_with_na.dropna()

# how='any' mean if any values is 'NaN' in a row ,whole row will be removed
df_with_na.dropna(axis='rows',how='any') # we can pass axis='columns' also

In [ ]:
# how='all' mean all values should be 'NaN' in a row if axis='rows'
df_with_na.dropna(axis='rows',how='all')

In [ ]:
# we can also pass subset to check for a specific column for NaN values
df_with_na.dropna(axis='rows',how='all',subset=['ConvertedComp'])

In [ ]:
# isna() will return True False values where values are NaN
df_with_na.isna()

In [ ]:
# fillna() to replace the NaN values in a df or series
df_with_na.fillna('Missing',inplace=True)

In [ ]:
# replace method to replace the values
df_with_na.replace('Missing',np.nan,inplace=True)

## Datatypes

In [ ]:
# dtypes is used to look at the datatype of df or series
df_with_na.dtypes.dtypes

In [ ]:
df_with_na.loc[:,'Respondent'].dtype
# or
df_with_na.loc[:,'Respondent'].dtypes

In [ ]:
# dtype attribute is used to look the data type of a single element of df or series
df_with_na.loc[1:,'Respondent'][1].dtype

In [ ]:
# astype method is used for converting the value to new data type
df_with_na['Respondent'].astype(float)

## Dates and Time Series Data

In [177]:
crypt_df = pd.read_csv("cryptocurrency_data_1h.csv")

# to convert the date column during importing the data we can user these values to pass into the read_csv function
from datetime import datetime
crypt_df = pd.read_csv("cryptocurrency_data_1h.csv", parse_dates=['Date'], date_parser = lambda d: datetime.strptime(d,'%Y-%m-%d %I-%p'))

In [178]:
crypt_df.head(10)

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
5 2020-03-13 15:00:00  ETHUSD  128.39  128.90  116.06  124.85  7378976.00
6 2020-03-13 14:00:00  ETHUSD  134.03  137.90  125.50  128.39  3733916.89
7 2020-03-13 13:00:00  ETHUSD  131.35  140.95  128.99  134.03  9582732.93
8 2020-03-13 12:00:00  ETHUSD  128.93  134.60  126.95  131.35  3906590.52
9 2020-03-13 11:00:00  ETHUSD  132.60  133.17  126.01  128.93  3311080.29

In [ ]:
crypt_df.sort_index(ascending=False)

In [ ]:
crypt_df['Date']
# we can also convert this date column to real datetime data using pd.to_datetime() method
crypt_df['Date'] = pd.to_datetime(crypt_df['Date'], format='%Y-%m-%d %I-%p')

In [ ]:
# day_name() method is used to get the day name of a timestamp
crypt_df.loc[0,'Date'].day_name()

In [ ]:
# as we use str class on entire series to access all the methods of strings in whole df pr series,
# we can also use dt class to access datetime method to a datetime data
crypt_df['Date'].dt.day_name()

In [ ]:
crypt_df['Date'].min()

In [ ]:
crypt_df['Date'].max()

In [ ]:
crypt_df['Date'].max() - crypt_df['Date'].min()

In [ ]:
# filter
date_filter = (crypt_df['Date'] >= '2020-03-13')
crypt_df.loc[date_filter].sort_values('Date')

In [ ]:
crypt_df.set_index('Date',inplace=True)

In [ ]:
crypt_df.loc['2020-3-12'].agg(['mean','min','max','median'])

In [ ]:
# high for the 12-03-2020
crypt_df.loc['2020-3-12']['High'].max()

### Resample the Datetime

In [ ]:
# resample the high values and get the max of the hight date wise
# passing the D in resample meathod mesn Day wise
high_values = crypt_df['High'].resample('D').max()

In [ ]:
high_values['2020-03-12']

In [ ]:
%matplotlib inline

In [ ]:
high_values.plot()

In [ ]:
crypt_df.resample('W').agg({'Close':'mean', 'High':'max', 'Low':'min', 'Volume':'sum'})